@import "tailwindcss";

@layer base {
}
@layer components {
	.side-Nav-Links {
		@apply flex items-center justify-center xl:justify-start space-x-2 w-[80%] m-auto rounded-md hover:shadow hover:text-blue-500 p-2 text-gray-700 hover:bg-blue-100 font-semibold text-base;
	}
}
